@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,900;1,100;1,300;1,400;1,700&display=swap');

:root{
    --purple500:#281154;
    --purple300:#270082;
    --purple600:#1b0058;
    --red600: #dc0000;
    --body: #f9f6ff;
    --max-width:1200px;
}
*{
    margin :0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    line-height: 1.4;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

header{
    width: 100%;
    background-color: #270082;
    height: 50px;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0px;
    z-index: 100;
    box-shadow: 5px 5px 5px black;
}

.container{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 50px; */
}

ul{
    list-style: none;
    color: white; 
}

a{
    text-decoration: none;
    color: white;
}

.logo{
    font-size: 22px;
    color: white;
    font-weight: 700;
}

nav{
    padding: 20px;
}

nav ul{
    display: flex;
    gap:1.5rem;
}
nav ul li{
    border-bottom: 2px solid transparent;
    transition: 0.2s ease-in-out;
}
nav ul li:hover{
    border-bottom: 2px solid white;
}

.hero-sesction {
    background-image: url(./images/hero_image.png);
    height: 100vh;
    background-size: cover;
    /* Cover the entire element with the image */
    background-repeat: no-repeat;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-sesction h1 {
    font-size: 96px;
}

.hero-sesction h3 {
    font-size: 30px;
}

.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 750px;
    gap: 20px;
}

.music-section{
    padding-top: 50px;
    background: var(--purple500);
}

.music-section .body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin: auto;
    color: white;
}

.ipad-iphone-images{
    position: relative;
    top: 400px;
    margin-top: -400px;
}

button{
    padding: 10px 15px;
    border: none;
    transition: .2s ease-in-out;
    border-radius: 20px;
}

button:hover{
    opacity: .8;
    transition: .2s ease-in-out;
    box-shadow: 8px 5px 1px rgb(144, 135, 135);
    cursor: pointer;
}

.primary-btn{
    background-color: #dc0000;
    color: white;
}

.about-music{
    padding-top: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: auto
}

.secondry-btn{
    background: #270082;
    color: white;
    width: 118px;
}

.mid-page{
    color: #f9f6ff;
    margin-top: 20px;
    background-image: url(images/video.png);
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 30px;
}

.top{
    
}

.top-1{
    width: 70%;
}
.top-1 p {
    line-height: 1;
    font-weight: bold;
}

.lower-mid{
    display: flex;
    margin-top: 30px;
    margin: auto;
    /* justify-content: center; */
    margin-bottom: 30px;
}

.wrapper{
    width: 85%;
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-top: 40px;
    gap: 6rem;
}

.giftcard{
    width: 40%;
    margin-left: 10px;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 45%;
}

.secondry-footer{
    color: #f9f6ff;
    background-color:#1b0058;
    width: 100%;
    height: 27vh;
    /* margin: auto; */
}

.wrap{
    width: 80%;
    padding: 40px;
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: auto;
}

.foot{
    width: 20%;
}


.foot ul li a{
    line-height: .5;
    font-size: 13px;
    font-weight: 550;
}

.footer{
    color:white;
    padding: 10px;
    width: 100%;
    height: 7vh;
    background-color: #270082;
    display:flex;
    justify-content: center;
    align-items: center;
}


